# Temporary files for backend
backend/app/__pycache__
backend/chat/__pycache__

# Temporary files for frontend
frontend/.parcel-cache
frontend/dist

# VS Code workspace settings
.vscode/

# Environment directories
env/
.env/
venv/

# Node modules
frontend/node_modules
node_modules/

# Python
*.pyc
__pycache__/

# Django
media/
